<body>
    <div #topo></div>
  <hr>
  <small class="text-secondary" *ngIf="list.length > 0">Clique no registro para editar!</small>
  <div id="no-more-tables">
    <table id="tableRegistros" class="col-md-12 table-hover tablesorter table-striped  cf">
      <thead class="cf">
        <tr>
          <th onclick="sortTable(0)">Data</th>
          <th onclick="sortTable(1)">Tipo</th>
          <th>Categoria</th>
          <th>Descrição</th>
          <th>Valor</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reg of list">

          <td data-title="Data" class="text" (click)="scrollToElement(topo)"onclick="sortTable(0)">{{reg.data_created}}</td>
          <td data-title="Tipo" class="text" (click)="scrollToElement(topo)"onclick="sortTable(1)">{{reg.tipo}}</td>
          <td data-title="Categoria" class="text" (click)="onEdit(reg, topo)">{{reg.categoria}}</td>
          <td data-title="Descrição" class="text" (click)="onEdit(reg, topo)" >{{reg.descricao}}</td>
          <td data-title="Valor" class="text" (click)="onEdit(reg, topo)">{{reg.valor}}</td>
          <td><a class="btn text-danger" (click)="onDelete(reg.id)"><i class="fa fa-trash"></i></a></td>


        </tr>

        <tr *ngIf="list.length == 0">
          <td class="lead" colspan="3">Nenhum registro foi encontrado.</td>
        </tr>
      </tbody>
    </table>

    <button type="submit" class="button is-info" style="width: 100%; margin-top: 2em;" (click)="scrollToElement(topo)">  Voltar ao topo    </button>
  </div>

</body>