<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
            <img src="assets/images/logo.png" width="30px" alt="Firestarter Angular4 Demo App" /> CashBook
        </a>

        <a id="navToggle" role="button" class="navbar-burger" (click)="toggleCollapse()" [ngClass]="{'is-active': show}">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" [ngClass]="{'is-active': show}">
        <div class="navbar-end">
            <a class="navbar-item" routerLink="/login">
        Registros
      </a>
            <!-- <a class="navbar-item" routerLink="/ssr">
        SSR Universal
      </a> -->
            <a class="navbar-item" routerLink="/notes">
        Lembretes
      </a>
            
        </div>
    </div>
</nav>